<div class="navbar" ng-controller="HomeCtrl">
    <div class="container">

        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#" ng-click="slidePage('/','modal')">Climbing Coach</a>

        <!-- Place everything within .navbar-collapse to hide it until above 768px -->
        <div class="nav-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#" >Goals</a></li>
                <li><a href="#"ng-click="slidePage('/viewTraining')">Training</a></li>
            </ul>

        </div>
    </div>
</div>


<div class="pad" ng-controller="GoalsListCtrl">
  <ul>
    <li ng-repeat="goal in goals">
    {{goal.name}}
    <p>{{goal.level}}</p>
  </li>
</ul>
Total of {{goals.length}} goals
</div>

<ng-include src="'partials/settingsOverlay.html'"></ng-include>